/* COLOR SCHEME: https://colorhunt.co/palette/16325b227b9478b7d0ffdc7f */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "bootstrap";
@import "custom";

:root {
  --cs-font-sans-serif: 'Roboto', sans-serif;
  --cs-primary: $primary-color;
}

#root {
  background-color: $background;
}

.header-logo {
  display: flex;
}

.navbar-background {
  --bs-bg-opacity: 1;
  background-color: $primary-color;
}

.box-shadow-custom {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.1);
}

.navbar-text-custom {
  color: #FFF;
  text-shadow: 1px 1px 2px #1a1d20;
  line-height: 3;
}

.content-custom {
  width: 100%;
  padding-right: calc(1.5rem * 0.5);
  padding-left: calc(1.5rem * 0.5);
  margin-right: auto;
  margin-left: auto;
}

.search-field {
  display: block;
  flex: 0 0 auto;
  width: 25%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  appearance: none;
  background-color: #FFF;
  background-clip: padding-box;
  border: 1px solid #dee2e6;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.space-around {
  margin: 1rem;
}

.spinner-custom {
  color: $secondary-color !important;
  margin: 10% 50% 10% 50%;
}

thead > tr > th,
tbody > tr > td {
  text-align: center;
  vertical-align: middle;
}

.sort-row {
  cursor: pointer;
}

footer {
  background-color: $quaternary-color;
  width: auto;
  height: 5em;
  color: #212529;
  font-size: 12px;
  text-align: center;
  padding: 1em;
  box-shadow: 0 -8px 20px rgba(0, 0, 0, 0.12), 0 -3px 6px rgba(0, 0, 0, 0.1);
}

.modal-display {
  max-height: 500px;
  object-fit: cover;
  object-position: center;
}

.modal-title {
  text-transform: uppercase;
}

.btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;
}

.btn-primary:hover {
  background-color: $secondary-color;
  border-color: $secondary-color;
  text-shadow: 1px 1px 2px #1a1d20;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.3);
  transition: .5s;
}

.btn-secondary {
  background-color: $tertiary-color;
  border-color: $tertiary-color;
  color: #393e46;
}

.btn-secondary:hover {
  background-color: $primary-color;
  border-color: $primary-color;
  text-shadow: 1px 1px 2px #1a1d20;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.3);
  transition: .5s;
}

#custom-switch {
  cursor: pointer;
}



/* TABLE STACK CODE: https://stackoverflow.com/questions/28983809/how-to-make-a-table-responsive-stack-columns */
@media only screen and (max-width: 1080px),
       only screen and (max-width: 900px),
       only screen and (max-width: 800px),
       only screen and (max-width: 600px)
{

  .search-field {
    width: 100%;
  }

  #responsive-table table,
  #responsive-table thead,
  #responsive-table tbody,
  #responsive-table th,
  #responsive-table td,
  #responsive-table tr {
    display: block;
  }

  #responsive-table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  #responsive-table tr {
    border: 1px solid #ccc;
  }

  #responsive-table td {
    border: none;
    border-bottom: 1px solid #ccc;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align: left;
  }

  #responsive-table td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
  }

  #responsive-table td:before {
    content: attr(data-title);
  }
}

@media only screen and (max-width: 600px) {
  footer {
    width: auto;
    height: 7em;
  }
}