@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

/** GENERAL */
$primary-color: #16325B;
$secondary-color: #227B94;
$tertiary-color: #78B7D0;
$quaternary-color: #FFDC7F;
$background: #FAFAFA;


