@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

/** GENERAL */
$primary-color: #16325B;
$secondary-color: #227B94;
$tertiary-color: #78B7D0;
$quaternary-color: #FFDC7F;
$background: #FAFAFA;

$update-button-hover-color: #FBD288;
$delete-button-color: #CC2B52;
$delete-button-hover-color: #AF1740;

$default-font-color: #212529;
$default-border-color: #dee2e6;
